<!DOCTYPE html>
<html>
<head>



    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Share Market Game</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/AdminLTE")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/cHin-Grid/cHiN-GRID.css" type="text/css" rel="stylesheet" />


    <style>
        .sideBackground {
            background: url('../../Content/images/green-style-vector.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% auto;
        }
       

        /*.layer {
            background-color: rgba(0, 128, 132, 0.53);
            /*position: absolute;
            top: 0;
            left: 0;*
            width: 100%;
            height: 100%;
        }*/
    </style>

</head>
<body class="skin-green sidebar-mini hold-transition">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">

                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">CSR</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Share Market Game</b></span>

            </a>
          
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu" style="margin-top: 1%; float:none">

                    
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown messages-menu">
                            <span class="label label-success-ssk" style="font-size: medium"><a href="@Url.Action("Index", "Loging")">LogOut</a></span>
                            @*<a href="@Url.Action("Index", "Loging")">
                                <span>LogOut</span>
                            </a>*@
                        </li>
                        @*<li class="dropdown messages-menu">
                                <span class="label label-success-ssk" style="font-size: medium"><label id="lblshiftType"></label></span>
                            </li>
                            <li class="dropdown messages-menu">
                                <span class="label label-success-ssk" style="font-size: medium"><label id="lblAirlinetype"></label></span>
                            </li>
                            <li class="dropdown messages-menu">
                                <span class="label label-success-ssk" style="font-size: medium"><label id="lblshiftprepared">sssss</label></span>
                            </li>*@

                    </ul>
                </div>
            </nav>
        </header>




        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar sideBackground">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <div class="layer">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="treeview">
                            <a href="@Url.Action("Index", "Home")">
                                <span>Profile</span>
                            </a>
                            @*<ul class="treeview-menu">
                                    @*<li onclick="LoadShiftPanal()"><a href="@Url.Action("Index", "StaffDetails")"><i class="glyphicon glyphicon-record"></i> Staff Details</a></li>
                                    <li><a href="@Url.Action("Index", "StaffDetails")"><i class="glyphicon glyphicon-play"></i> Staff Details</a></li>
                                    <li><a href="@Url.Action("Index", "ExportDelays")"><i class="glyphicon glyphicon-play"></i> Export Delays</a></li>
                                    <li><a href="@Url.Action("Index", "UL_UWS_FFM")"><i class="glyphicon glyphicon-play"></i> UWS/FFM</a></li>
                                    <li><a href="@Url.Action("Index", "CustomerRequest")"><i class="glyphicon glyphicon-play"></i> Customer Request</a></li>
                                    <li><a href="@Url.Action("Index", "ReAuditingShipment")"><i class="glyphicon glyphicon-play"></i> Re-Auditing Shipment Details</a></li>
                                    <li><a href="@Url.Action("Index", "RevenueStatistics")"><i class="glyphicon glyphicon-play"></i> Revenue/Statistics</a></li>
                                    <li><a href="@Url.Action("Index", "SafetyConcernsIssues")"><i class="glyphicon glyphicon-play"></i> Safety Concerns / Issues </a></li>
                                    <li><a href="@Url.Action("Index", "ServiceabilityofEquipment")"><i class="glyphicon glyphicon-play"></i> Serviceability of Equipment</a></li>
                                    <li><a href="@Url.Action("Index", "ComplaintsRemarks")"><i class="glyphicon glyphicon-play"></i> Complaints / Remarks</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-play"></i> Generate Report</a></li>
                                </ul>*@
                        </li>



                        <li class="treeview">
                            <a href="@Url.Action("Index", "Game")">

                                <span>Game</span>
                                @*<span class="pull-right-container">
                                        <i class="glyphicon glyphicon-plus-sign"></i>
                                    </span>*@
                            </a>
                            @*<ul class="treeview-menu">
                                    <li><a href="#"><i class="glyphicon glyphicon-record"></i>Flight Delays</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-record"></i>UWS/FFM</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-record"></i>Additional Services</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-record"></i>Statistics</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-record"></i>Freighter Details</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-record"></i>Re-Auditing Shipment</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-record"></i>Imports Handling</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-record"></i>Issues / Remarks</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-record"></i> Generate Report</a></li>
                                </ul>*@
                        </li>

                    </ul>
                </div>
            </section>
            <!-- /.sidebar -->
        </aside>



        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <h1>@ViewBag.Title</h1>
            </section>

            <section class="content">
                @RenderBody()
            </section>
        </div>


        <footer class="main-footer">
            <div class="pull-right hidden-xs">

                <!--
                Vertioning Mechanism

                1 Bit : Phase
                2 Bit : No Of release in That Phase.
                3 Bit : No Of CR releases in that Phase.
                4 bit : No of Bug Fix Releases in That Phase

                -->
                <b>Version</b> 1.0.0.0
            </div>
            <strong>&copy; 2018 - <a href="">Develop By TeamMW</a>.</strong> All rights reserved.
        </footer>

    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/AdminLTE")
    <script type="text/javascript" src="~/Scripts/Master/Master.js"></script>
    @*<script type="text/javascript" src="~/Scripts/moment.js"></script>*@
    @RenderSection("Scripts", false)





    @*<script type="text/javascript">

            var CommonVars = {
                BaseUrl: "@CARGO_COM.Utils.WebHelper.ToAbsoluteUrl("/")",
                SessionID: "@sesionShiftID",
                SessionShiftAirline: "@sesionShiftAirline",
                SessionShiftDate: "@sesionShiftdate",
                SessionShiftType: "@sesionShiftType"
            }


            if ("@sesionShiftdate" != "") {

                @{
                    DateTime shiftdateNew = Convert.ToDateTime(@sesionShiftdate);
                }

                var date = "@shiftdateNew.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)";

                //console.log(date);

                //var shiftdate = moment(date).startOf('date');
                //var newdate = shiftdate.format('YYYY-MM-DD[T]HH:mm:ss');
                //console.log(newdate);


                $("#lblShiftDate").text("DATE : " + "@shiftdateNew.Date.ToString("dd/MM/yyyy")");

                $("#lblshiftType").text("SHIFT : " + "@sesionShiftType");
                $("#lblAirlinetype").text("TYPE : " + "@sesionShiftAirline");
            }


        </script>*@

</body>
</html>
